.brand-section {
  background-image: url("../Assets/Katy-brand-min.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 2300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  /* overflow-y: scroll; */
  padding: 50px 0px;
  max-width: 100%;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
}

.brand-work {
  display: flex;
  flex-direction: column;
}

.brand-cont {
  /* margin-top: 150px; */
}

.brand-title {
  width: 100%;
  font-size: 10rem;
  color: rgb(210, 79, 79);
  mix-blend-mode: hard-light;
  /* color: white; */
  z-index: 11;
  -webkit-text-stroke: 0.2px white;
}

.brands-list {
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
  cursor: pointer;
  z-index: 11;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.brand {
  display: flex;
  flex-direction: column;
  height: 300px;
  transition: all 0.2s ease-in-out;
}

.brand:hover {
  transform: scale(1.1);
}

.brand:hover > .brand-css {
  color: #c8102e;
}

.brand-css {
  text-decoration: none;
  color: black;
  cursor: pointer;
  color: white;
}

.brand img {
  margin-bottom: 30px;
}

#liv-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#liv-brand img {
  object-fit: cover;
  width: 150px;
  height: 200px;
}
#on-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#on-brand img {
  object-fit: cover;
  width: 150px;
  height: 200px;
}
#red-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#red-brand img {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.click-below {
  width: 100%;
  font-size: 8rem;
  mix-blend-mode: hard-light;
  z-index: 11;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.brand-link-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob-scroll-title {
  display: none;
}

.brand-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  z-index: 11;
  padding: 50px;
}

.brand-links div {
  height: 375px;
  cursor: pointer;
  transition: all ease 0.5s;
  filter: brightness(0.94);
  border: 1px white solid;
  border-radius: 6px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.brand-links div:hover {
  filter: brightness(1);
  z-index: 5;
  box-shadow: 0px 0px 3px 1px #909090;
}

@media (max-width: 1024px) {
  .brand-section {
    height: 1250px;
    background-position: right 35% bottom 45%;
  }
  .brand-title {
    font-size: 6rem;
  }

  #liv-brand img {
    object-fit: contain;
    width: 150px;
    height: 150px;
  }

  #on-brand img {
    object-fit: cover;
    height: 150px;
    width: 150px;
  }

  #red-brand img {
    object-fit: contain;
    height: 150px;
    width: 150px;
  }
  .brand-link-cont {
    overflow-y: scroll;
    height: 600px;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: rgba(107, 106, 106, 0.6);
  }

  .brand-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    z-index: 11;
    padding: 50px;
  }

  .cta.brand-cta {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .brand-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    z-index: 11;
    padding: 20px;
  }
}

@media (max-width: 425px) {
  .brand-section {
    height: 1750px;
  }
  .brand-title {
    margin-top: 200px;
    font-size: 3.5rem;
  }
  .brands-list {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  #liv-brand img {
    object-fit: contain;
    width: 150px;
    height: 150px;
  }

  #on-brand img {
    object-fit: cover;
    height: 150px;
    width: 150px;
  }

  #red-brand img {
    object-fit: contain;
    height: 150px;
    width: 200px;
  }

  .brand-link-cont {
    width: 95dvw;
    position: relative;
    height: 575px;
  }

  .mob-scroll-title {
    display: block;
    font-size: 3rem;
    position: absolute;
    top: 20px;
  }
  .mob-scroll-title span {
    font-family: "Courier New", Courier, monospace;
  }
  .brand-links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 11;
    /* padding: 20px; */
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .inst1 {
    margin-left: 20px;
  }
  .brand-links::-webkit-scrollbar {
    color: transparent;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    background: rgb(210, 79, 79);
    border-radius: 10px;
  }
}

@media (max-width: 320px) {
  .brand-title {
    font-size: 3rem;
  }
  #liv-brand img {
    object-fit: contain;
    width: 100px;
    height: 100px;
  }

  #on-brand img {
    object-fit: cover;
    height: 100px;
    width: 100px;
  }

  #red-brand img {
    object-fit: contain;
    height: 100px;
    width: 150px;
  }
  .brand-link-cont {
    height: 500px;
  }
  .mob-scroll-title {
    display: block;
    font-size: 2rem;
    position: absolute;
    top: 10px;
  }
  .cta.brand-cta {
    font-size: 1.5rem;
    width: 250px;
  }
}
