.contact-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  overflow-y: scroll;
  padding: 50px 0px;
  text-align: left;
  background-color: black;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  color: white;
}

.contact-title {
  font-size: 8rem;
  color: rgb(210, 79, 79);
  mix-blend-mode: hard-light;
  /* color: white; */
  z-index: 11;
  -webkit-text-stroke: 0.2px white;
  font-family: myFirstFont;
  position: absolute;
  top: 40px;
}

.socials-cont {
  border: 2px solid white;
  border-radius: 0.25rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.social-links img {
  width: 45px;
}

.contact-top {
  display: flex;
  align-items: center;
}
.contact-bottom {
  display: flex;
  align-items: center;
  text-align: right;
}
.left-half {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enquiry-text {
  margin-inline: 30px;
  font-size: 2rem;
}

.right-half {
  width: 50%;
}

#contact-img {
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
}

.email-cont {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

#email {
  padding: 10px;
  border: 2px solid white;
  border-radius: 0.25rem;
  width: 250px;
  font-size: 2rem;
  text-align: center;
  margin: 10px;
}
