.intro-section {
  background-image: url("../Assets/Katy-boss-night.JPG");
  background-size: cover;
  height: 1500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  overflow-y: scroll;
  padding: 50px 0px;
  max-width: 100%;
  overflow-x: hidden;
}

.intro-cont {
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-cont {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-top: 100px;
}

.katy-title {
  width: 100%;
  font-size: clamp(2rem, 10rem, 10rem);
  z-index: 11;
  /* margin-top: 200px; */
  -webkit-text-stroke: 2.5px white;
  /* margin-top: -250px; */
}

.katy-products {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 40px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 15%; */
}

.katy-bio-sub {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.cta-intro {
  text-align: center;
  margin: 100px 0px;
}

.katy-bio {
  position: absolute;
  bottom: 200px;
  margin-top: 100px;
  width: 80%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

.radio-support {
  display: flex;
  justify-content: space-evenly;
}

.radio-support img {
  width: 250px;
  height: 200px;
  object-fit: contain;
}
.radio-support img:nth-of-type(1) {
  filter: invert(1);
}

#george {
  filter: invert(1);
}

@media (max-width: 1024px) {
  .hero-cont {
    margin-top: 150px;
  }
  .katy-bio {
    width: 90%;
  }
  .radio-support img {
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .intro-section {
    height: 1250px;
    background-position: center;
  }
  .cta-intro {
    font-size: 1.5rem;
    width: 250px;
  }
  .katy-title {
    font-size: 8rem;
  }
  .katy-products {
    font-size: 1.5rem;
  }
  .katy-bio-sub {
    font-size: 1.3rem;
  }
  .katy-bio {
    font-size: 1.2rem;
  }
  .radio-support img {
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 425px) {
  .intro-section {
    background-position: right 35% bottom 45%;
    height: 1500px;
  }
  .katy-title {
    font-size: 5rem;
  }
  .katy-products {
    font-size: 1.3rem;
    width: 90%;
  }
  .katy-bio-sub {
    width: 90%;
    font-size: 1.4rem;
  }
  .katy-bio {
    position: absolute;
    bottom: 0;
  }
  .radio-support {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .katy-products {
    font-size: 1rem;
  }
  .katy-bio-sub {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .intro-section {
    height: 1500px;
  }
  .katy-title {
    font-size: 4rem;
  }
}
