.App {
  text-align: center;
  font-family: myFirstFont;
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
}

figcaption {
  display: none;
}

.App a {
  text-decoration: none;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  flex-direction: column;
}
.page-container {
  /* max-width: 1350px;
  width: 1350px;
  margin: auto; */

  width: 100%;
  /* padding-right: 1rem;
  padding-left: 1rem; */
  max-width: 1504px;
  margin-right: auto;
  margin-left: auto;
}

.cta {
  border: 3px solid white;
  background-color: #c8102e;
  color: white;
  border-radius: 16px;
  padding: 10px 5px;
  font-size: 2rem;
  width: 300px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all ease-in 0.3s;
}
.cta:hover {
  transform: scale(1.07);
}

@media (max-width: 350px) {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.katy-img {
  size: 100%;
  width: 100%;
}

.section-1-cont {
  display: flex;
  flex-direction: column;
}
.section-2-cont {
  display: flex;
}

#katy-1 {
  /* filter: grayscale(100); */
}
#katy-2 {
  /* filter: grayscale(100); */
}

@font-face {
  font-family: myFirstFont;
  src: url("./Css/yukari.ttf");
}

h1 {
  font-family: myFirstFont;
  color: rgb(191, 3, 3);
}
